@gap: 25px;
@radius: 8px;

.home-img {
    gap: @gap;
}

.home-par {
    gap: @gap;
}

.setup-steps {
    gap: @gap;
}

.flip-cont {
    gap: @gap;
}

.textbox {
    border-radius: @radius;
}

.img-card img {
    border-radius: @radius;
}

.step-img img {
    border-radius: @radius;
}

.flip-front,
.flip-back {
    border-radius: @radius;
}